# WP plugins not to download
advanced-custom-fields/
akismet/
all-in-one-wp-migration/
classic-editor/
manual-image-crop/
members/
regenerate-thumbnails/
wp-migrate-db/
loco-translate/

# Files not to dowload
hello.php
index.php